<html>
  <head>

        <style>

        body  {
          background-image: url("C-235-1.gif");
          background-size: 900px 900px; /* กว้าง x ยาว */
          background-repeat: no-repeat;
          background-position: center;
        }

        .caption1 {
          position: absolute;
          left: 647.1px;
          top: 122px;
        }

        .caption2 {
          position: absolute;
          left: 655px;
          top: 534.5px;
        }

        </style>

      </head>
      <body>

          <div>

              <span class="caption1"><a href="www.google.co.th" target="_blank"><img src="room/01.png" width="250.9px" height="247px"></a></span>
              <span class="caption2"><a href="www.google.co.th" target="_blank"><img src="room/02.png" width="320px" height="376px"></a></span>

          </div>

      </body>
</html>
